
VITE_SUPABASE_URL=https://oeotqlircqmuvhfayrhw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9lb3RxbGlyY3FtdXZoZmF5cmh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM0MzMzNTcsImV4cCI6MjA2OTAwOTM1N30.gQWn_Gy0_5UpKL2OdmOalQK7ORSaQ2OG1d-nkeaA1Yo
